- id: nbriop
  code: 3
  #name: NBR/IOP      # default name
  base_unit: NBR
  quote_unit: IOP
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: iop, fixed: 2}
  ask: {fee: 0, currency: nbr, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: iopcny
  code: 4
  name: IOP/CNY     
  base_unit: iop
  quote_unit: cny
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: iop, fixed: 4}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ethbtc
  code: 5
  name: ETH/BTC      
  base_unit: eth
  quote_unit: btc
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: btc, fixed: 4}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
